<% if notice.present? %>
  <div class="alert alert-success mb-5 text-sm">
    <span><%= notice %></span>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-error mb-5 text-sm">
    <span><%= alert %></span>
  </div>
<% end %>
